html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.form-wrapper{
    background-color: #EAE5FF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

form{
    background-color: #CCC2FF;
    border: 2px solid #8F7FE0;
    border-radius: 20px;
    width: 260px;
    padding: 10px 20px 20px;
    font-size: 18px;
    text-align: center;
    height: fit-content;
}

form label{
    text-align: left;
    display: block;
    margin-bottom: 20px;
}

label>input{
    float: right;
}

#reset-button,
#submit-button{
    cursor: pointer;
    background-color: white;
    border: 2px solid #8F7FE0;
    border-radius: 5px;
}

#weight,
#height{
    width: 160px;
}


